<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta charset="UTF-8">
     <title>Редактирование задачи</title>
    </head>
<body>
    <h1>Задача</h1>

    <table >
      <tr>
          <th><label th:text="ID" /></th>
          <td><label th:text="${task.id}" /></td>
      </tr>
        <tr>
            <th><label th:text="Name" /></th>
            <td><label th:text="${task.name}" /></td>
        </tr>
     <tr>
            <th><label th:text="Description" /></th>
            <td><label th:text="${task.description}" /></td>
     </tr>
        <tr>
            <th><label th:text="Status" /></th>
           <td><label th:text="${task.status}" /></td>
        </tr>
        <tr>
            <th><label th:text="dateTime" /></th>
            <td><label th:text="${task.dateTime}" /></td>
        </tr>
    </table>
    <form th:action="@{/task/up}"  method="POST">
        <table>
            <tr>
                <th><label th:text="ID" /></th>
                <td><input type="text" readonly th:value="${task.id}" th:name="id"/></td>
            </tr>
            <tr>
                <th><label th:text="название" /></th>
                <td><input type="text" th:name="name" /></td>
            </tr>
            <tr>
                <th><label th:text="содержание" /></th>
                <td><input type="text" th:name="description" /></td>
            </tr>
            <tr>
                <th><button type="submit">редактировать</button></th>
            </tr>
        </table>
    </form>
    <ul>
        <li><form th:action="@{/task/del/{id}(id=${task.id})}" method="POST">
            <label>удалить: </label>
            <input type="submit" th:name="id" th:value="${task.id}">
        </form></li>
        <li><a href="/task">к списку задач.</a></li>
    </ul>

</body>
</html>