<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Панель задач.</title>
    </head>
<body>
    <h1>Задачи</h1>
    <h2>Просмотр задач.</h2>
    <table>
        <tr>
            <th>Номер задачи.</th>
            <th>Название.</th>
            <th>Содержание.</th>
            <th>Состояние.</th>
            <th>Время создания.</th>
        </tr>
        <tr th:each="p: ${tasks}">
            <td><a th:href="@{/task/{id}(id=${p.id})}">[[${p.id}]] </a></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.description}"></td>
            <td th:text="${p.status}"></td>
            <td th:text="${p.dateTime}"></td>
        </tr>
    </table>

    <h2>Добавление задач.</h2>

    <form th:action="@{/task}"  method="POST">
        <label> Название.</label><input type="text" th:name="name"/></br>
        <label> Содержание.</label><input type="text" th:name="description"/></br>
        <button type="submit" th:name="task">Создать задачу.</button>
    </form>
    </body>
</html>
